{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "next",
    "next/core-web-vitals",
    "plugin:tailwindcss/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "settings": {
    "tailwindcss": {
      "callees": ["classnames", "clsx", "cx"],
      "whitelist": [
        "scrollbar-thin",
        "scrollbar-track-gray-900",
        "scrollbar-track-gray-100",
        "scrollbar-thumb-gray-800",
        "scrollbar-thumb-gray-400"
      ]
    }
  },
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-empty-interface": "warn",
    "@next/next/no-document-import-in-page": "off",
    "import/order": ["warn", {
      "groups": [["builtin", "external"], "internal", "parent", "sibling", "index", "object", "type"],
      "newlines-between": "never",
      "alphabetize": { 
        "order": "asc", 
        "caseInsensitive": true
      }
    }]
  },
  "overrides": [
    {
      "files": ["*.graphql"],
      "extends": [
        "plugin:@graphql-eslint/operations-all",
        "prettier"
      ],
      "rules": {
        "prettier/prettier": "error",
        "@graphql-eslint/alphabetize": "off",
        "@graphql-eslint/match-document-filename": "off"
      }
    }
  ]
}
