.editor {
  div[aria-selected="true"] {
    background-color: #eee;
  }
}

.edited {
  code {
    background-color: #eee;
  }
  ul {
    list-style: disc;
    margin: 0.5rem 1.25rem;
  }
  ol {
    list-style: decimal;
    margin: 0.5rem 1.25rem;
  }
  a {
    color: dodgerblue;
  }
  a:hover {
    color: royalblue;
    text-decoration: underline;
  }
}
